<%= form_with(model: [@category, product],local:false) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div>
    <%= form.fields_for :tags, @product.tags.build do |tag|  %>
    <%= tag.label 'New Tag' %>
      <%= tag.text_field :name %>
    <% end %>
  </div><br>

  <div>
    <% if Tag.any? %>
    <%= form.label 'Choose Tag' %>
      <%= form.select :tag_ids,Tag.all.collect{ |tag| [tag.name,tag.id]}, { include_blank: true } , multiple: true %>
    <% end %>
  </div><br>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
