<p style="color: green"><%= notice %></p>
<!DOCTYPE html>
<html>
  <head>
    <title>Test1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  <% if user_signed_in? %>
    <div style="position:absolute;top:40px;right:30px"><strong><%= current_user.email %></strong></div>
    <div style="position: absolute;top:70px;right:120px "><%= link_to 'Show Profile', profiles_path %> | </div>
    <div style="position:absolute;top:70px;right:40px"><%= link_to 'Edit profile', edit_user_registration_path %></div>
    <div style="position:absolute;top:100px;right:90px"><%= button_to 'Log Out', destroy_user_session_path, method: :delete %></div>
    <% end %>
  </body>
</html>
